<!-- bure/templates/bure/about.html -->


{% extends 'bure/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'bure/css/about.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    <h1>About Us</h1>

    <div style="max-width: 400px; max-height: 300px;overflow-y: hidden; margin: 0 auto;">
        <img src="{% static 'bure/img/BURE-logo.png' %}" style="max-width: 100%">
    </div>
    
    <fieldset class="section">
        <legend>Hoang Nguyen</legend>
        <h4>"Hard work beats talent when talent fails to work hard"</h4>
        <p>I am a Computer Science graduate student at Boston 
            University who has built scalable systems and automation 
            pipelines that improve efficiency, reduce cost, and support 
            thousands of users. I am interested in machine learning 
            applications that enhance decision making and efficiency.</p>
       
    </fieldset>

    <fieldset class="section">
        <legend>Ian Campbell</legend>
        <h4>"Frustrastion shouldn't be towards failure, but in failing to act"</h4>
        <p>
            I started out studying criminal justice at the University of New Haven, 
            but transferred to Boston University to pursue more creative technical 
            work. Since then, I've built distributed consensus algorithms and full stack 
            web applications, and I'm interested in bridging the gap between embedded 
            systems and full stack engineering.</p>
</fieldset>

<style>
    

    fieldset {
        margin: 2.5rem;
        border: 2px solid #000000;
        padding: 1rem 1.25rem;
        border-radius: 8px;

        h4 {
            color:#222222;
            margin: .7rem;
        }

        p {
            color: #515151;
            font-size: medium;
        }
    }

    legend {
        color: #222222;
        font-weight: 600;
        font-size: larger;
        padding: 0 0.25rem;
    }

    .container {
    padding: 4rem 1rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    max-width: 800px;
    margin: 3rem auto;
}

.container h1 {
    color: #003366;
    font-size: 2.2rem;
}

.container p {
    color: #555;
    font-size: 1.1rem;
    line-height: 1.6;
}



</style>


{% endblock %}
