<!-- bure/templates/bure/base.html -->

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BURE</title>
    <link rel="stylesheet" href="{% static 'bure/css/base.css' %}">
    
    <!-- Leaflet CSS -->
    <link
        rel="stylesheet"
        href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
        crossorigin=""
    />

</head>
<body>
    <header class="base-header">
        <nav class="base-navbar">
            <ul> <!-- nav links to other pages of our app - iwc -->
                <img src="{% static 'bure/img/BURE-logo.png' %}" style="margin-left: 20px; max-height: 50px; background-color: antiquewhite; display: flex;">
                <li><a href="{% url 'estimate' %}">Estimate</a></li>
                <li><a href="{% url 'about_us' %}">About Us</a></li>
                <li><a href="{% url 'data' %}">Data</a></li>
            </ul>
        </nav>
    </header>

    <div class="base-block-content-container">
        {% block content %}
        {% endblock %}
    </div>


<!-- Leaflet JS -->
<script 
  src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
  integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
  crossorigin=""
></script>

<!-- js log for map toggle -->
<script 
  src="{% static 'bure/js/map_toggle.js' %}"
></script>


</body>
</html>

