<!-- bure/templates/bure/data.html -->


{% extends 'bure/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'bure/css/data.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    <h1>Data Extraction, Analysis, and Representation</h1>

    <fieldset class="func-explantion">
        <legend>Data Extraction</legend>
        <h4>Overview</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta veritatis minus nostrum aliquam rerum ut impedit, tempore aspernatur quas libero sint cumque cupiditate animi adipisci expedita sit molestias vel inventore.</p>
        <h4>Method</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta veritatis minus nostrum aliquam rerum ut impedit, tempore aspernatur quas libero sint cumque cupiditate animi adipisci expedita sit molestias vel inventore.</p>
        <h4>Implementation</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta veritatis minus nostrum aliquam rerum ut impedit, tempore aspernatur quas libero sint cumque cupiditate animi adipisci expedita sit molestias vel inventore.</p>

    </fieldset>

    <fieldset class="func-explantion">
        <legend>Data analysis</legend>
        <h4>Overview</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta veritatis minus nostrum aliquam rerum ut impedit, tempore aspernatur quas libero sint cumque cupiditate animi adipisci expedita sit molestias vel inventore.</p>
        <h4>Method</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta veritatis minus nostrum aliquam rerum ut impedit, tempore aspernatur quas libero sint cumque cupiditate animi adipisci expedita sit molestias vel inventore.</p>
        <h4>Implementation</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta veritatis minus nostrum aliquam rerum ut impedit, tempore aspernatur quas libero sint cumque cupiditate animi adipisci expedita sit molestias vel inventore.</p>
</fieldset>

    <fieldset class="func-explantion">
        <legend>Website Implementation</legend>
        <h4>Overview</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta veritatis minus nostrum aliquam rerum ut impedit, tempore aspernatur quas libero sint cumque cupiditate animi adipisci expedita sit molestias vel inventore.</p>
        <h4>Method</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta veritatis minus nostrum aliquam rerum ut impedit, tempore aspernatur quas libero sint cumque cupiditate animi adipisci expedita sit molestias vel inventore.</p>
        <h4>Implementation</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta veritatis minus nostrum aliquam rerum ut impedit, tempore aspernatur quas libero sint cumque cupiditate animi adipisci expedita sit molestias vel inventore.</p>
 </fieldset>
</div>

<style>
    

    fieldset {
        margin: 2.5rem;
        border: 2px solid #000000;
        padding: 1rem 1.25rem;
        border-radius: 8px;

        h4 {
            color:#222222;
            margin: .7rem;
        }

        p {
            color: #515151;
            font-size: medium;
        }
    }

    legend {
        color: #222222;
        font-weight: 600;
        font-size: larger;
        padding: 0 0.25rem;
    }

</style>

{% endblock %}


